body {
    /* padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
a {
  color: #00B7FF; */
    .text-center {
        font-family: "Orbit";
        font-weight: bold;
    }

    .col h2 {
        font-family: "HandJet";
        font-style: italic;
    }
}
